body{
    font-size: 16px;
    padding: 1rem;
}

/*Ensures that the navigation list is vertically stacked for mobile/phone users*/
nav ul{
    display: block;
    margin: 0.5rem 0;
}

/*scales images and video to best fit mobile or phone displays*/
img, video{
    width: 100%;
    height:auto;
}

/*Changes the individual project pocketssuch that they are better suited for the specifc machine; in this case phones*/
.Individual-Pocket{
    margin: 1rem auto;
    display: block;
    width: 90%;
}

