h1{
    text-shadow: 4px 4px 11px;
    color:#3b19d4 
}


hr{
    color:whitesmoke
}


body{
    background-color:#171320;
}

header{
    text-align: center;
}

ul{
    
    size: 60px;
    color: whitesmoke;
}

footer{
    text-align: center;
    color:whitesmoke
}

.my-profile-photo{
    float: left;
    width: 300px;
    margin-right: 1rem;
}